@font-face {
  font-family: "TT Lakes Regular";
  src: url("Fonts/TTLakes-Regular.eot");
  src: url("Fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("Fonts/TTLakes-Regular.woff") format("woff"),
    url("Fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("Fonts/TTLakes-Bold.eot");
  src: url("Fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("Fonts/TTLakes-Bold.woff") format("woff"),
    url("Fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url("Fonts/TTLakes-Medium.eot");
  src: url("Fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("Fonts/TTLakes-Medium.woff") format("woff"),
    url("Fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

@media (min-width: 0px) {
  .swiper {
    width: 100%;
    height: 132px;
  }

  .read-more {
    display: none;
  }

  .page-header {
    display: flex;
    padding: 16px;
    background: linear-gradient(to right, #f8f8f8, white);
  }

  .header__heading {
    display: block;
    padding: 0;
    margin: 0;
    font-family: "TT Lakes Regular", sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    color: #7e7e82;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .page-main {
    background-color: #f8f8f8;
    padding: 16px;
  }
  .swiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
    max-width: 224px;
    height: 72px;
  }
  .slider__button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-shadow: inset 0px 0px 0px 1px #eaeaea;
    border: none;
    border-radius: 6px;
    background: white;
    width: 100%;
  }
  .slider__image {
  }
  .swiper-pagination {
  }
  .swiper-pagination-bullet {
    background-color: #b5b6bc;
    width: 12px;
    height: 12px;
    margin-top: 0;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
  }

  .swiper-pagination-bullet {
    margin: 6px;
  }

  .swiper-slide-next {
    /* margin-left: -34px; */
  }
}

@media (min-width: 768px) {
  .page-header {
    padding: 24px;
  }
  .swiper {
    height: 100%;
  }
  .page-main {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px 24px;
    flex-wrap: wrap;
  }

  .swiper-slide.hidden {
    display: none;
  }

  .page-header {
    padding: 24px;
  }

  .read-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 24px; */
  }
  .read-more__button {
    font-family: "TT Lakes Medium", sans-serif;
    font-size: 16px;
    height: 24px;
    border: none;
    background: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .read-more__icon {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .read-more__icon.reversed {
    transform: rotate(180deg);
  }
}

@media (min-width: 1120px) {
  .page-header {
    padding: 32px;
  }

  .page-main {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px 32px;
    flex-wrap: wrap;
  }
}
